<sticky-atc
  class="sticky-atc"
  data-target-selector="[data-sticky-atc-anchor]"
>
  <div class="mk-container">test content</div>
</sticky-atc>

{% stylesheet %}
  sticky-atc {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
    background: #fff;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 200ms ease, transform 200ms ease;
  }

  sticky-atc.is-visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
{% endstylesheet %}
